body {
  background-color: #232323;
}

a {
  color: #60ccff;
}

.App {
  background-color: #333333;
  color: white;
  margin-bottom: 15vh;
}

.header {
  background-color: #232323;
}

.contentGrid {
  min-height: 75vh;
  padding-bottom: 5vh;
}

.header {
  background-color: #232323;
  float: right;
  width: 100%;
}

.socialMediaList {
  float: right;
  text-decoration: none;
  margin-right: 25px;
}

.socialMediaList li {
  display: inline-block;
}

.btn i {
  size: 1vh;
}

.btn-social:hover {
  color: #286090;
}

.btn-primary {
  background-color: #40a0ce;
}

.title-area h1{
  font-family: bebas-neue-regular;
  text-align: center;
  font-size: 50px;
}

.title-image {
  padding-top: 20px;
}

.navigation {
  padding: 20px;
  color: white;
}

.content-area {
  padding: 15px;
  margin-left: 50px;
  margin-top: 20px;
}

.content-area p {
  font-size: 20px;
}

.content-area h2 {
  font-family: bebas-neue-regular;
}

.about-content-area {
  padding: 15px;
  margin-left: 50px;
  margin-top: 20px;
}

.about-content-area p {
  font-size: 20px;
}

.about-content-area h2 {
  font-family: bebas-neue-regular;
}

.projects-content-area {
  padding: 15px;
  margin-left: 50px;
  margin-top: 20px;
}

.projects-content-area h2 {
  font-family: bebas-neue-regular;
}

.list-of-projects p{
  color: white;
  font-size: 16px;
}

.projectPanel {
  background-color: #232323;
}

.projectExpandButton, .expandButton, .collapseButton {
  color: white;
  background-color: #232323;
  float: right;
  font-family: bebas-neue-regular;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #40a0ce;
}

@font-face {
  font-family: "bebas-neue-regular";
  src: url("./fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
