.App {
  
}

.nav-column {
  
}

.title-area {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
}

.navigation {
  margin-top: 50px;
  padding: 20px;
}

.content-area {
  padding: 5px;
  margin-left: 50px;
  margin-top: 20px;
}